h1{
    text-align: center;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(179, 246, 7);
    height: min-content;
}
.subtitulo{
    text-align: center;
    color: azure;
}
.descripcion{
    width: 100;
    height: auto;
    padding: block;
    margin: 5 auto;
}
p{
    color: azure;
}
body{
    background-color: rgb(17, 16, 15);
    

}
.portada{
    width: 100;
    height: auto;
    padding: block;
    margin: 0 auto;
}

ul{
    color: azure;
}
form{
    color: azure;
}
div{
    align-items: center;
}
.contenedor{
    color: azure;
    float:left;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid #f7f4f4;
}

